.initPage {
  background-color: #fdf8f2;
}
.title1 {
  margin-top: 4vw;
  margin-left: 7vw;
  font-size: 4.5vw;
  font-weight: 600;
}
// .recommend {
//   position: absolute;
//   top: 5vh;
//   left: 5vw;
//   width: 80vw;
//   height: 10vh;
//   padding: 2vw;
//   border: 1px solid #c6ae80;
//   background-color: #fdf2de;
//   border-radius: 30px;
//   .title1 {
//     width: 20vw;
//     font-size: 5vw;
//     font-weight: 600;
//   }
//   .stationicon {
//     position: absolute;
//     top: 4vh;
//     width: 12vw;
//     height: 12vw;
//     background-image: url(../../../assets/icons/station.png);
//     background-size: contain;
//   }
//   .closest {
//     position: absolute;
//     left: 13vw;
//     top: 5.5vh;
//     width: 20vw;
//     height: 10vw;
//     font-size: 5vw;
//   }
//   .closestline {
//     position: absolute;
//     top: 6.5vh;
//     right: 10vw;
//     width: 30vw;
//     height: 10vw;
//     font-size: 4vw;
//   }
// }
input {
  position: absolute;
  width: 85vw;
  height: 6vh;
  top: 6vh;
  left: 6vw;
  background-color: #43adff;
  text-align: center;
  line-height: 8vh;
  border-radius: 30px;
}
.hot {
  position: absolute;
  top: 15vh;
  left: 5vw;
  .title2 {
    margin-bottom: 2vw;
    margin-left: 2vw;
    font-size: 4.5vw;
    font-weight: 600;
  }
  .hotitem {
    display: flex;
    align-items: center;
    display: inline-block;
    padding: 2vw 3vw;
    margin: 2vw;
    background-color: #fecc2b;
    border-radius: 10px;
  }
}
