.initPage {
  background-color: #fdf8f2;
}
.title1 {
  margin-top: 4vw;
  margin-left: 7vw;
  font-size: 4.5vw;
  font-weight: 600;
}

input {
  position: absolute;
  width: 85vw;
  height: 6vh;
  top: 6vh;
  left: 6vw;
  background-color: #43adff;
  text-align: center;
  line-height: 8vh;
  border-radius: 30px;
}
.hot {
  position: absolute;
  top: 15vh;
  left: 5vw;
  .title2 {
    margin-bottom: 2vw;
    margin-left: 2vw;
    font-size: 4.5vw;
    font-weight: 600;
  }
  .hotitem {
    display: flex;
    align-items: center;
    display: inline-block;
    padding: 2vw 3vw;
    margin: 2vw;
    background-color: #fecc2b;
    border-radius: 10px;
  }
}
