.resultpage {
  position: absolute;
  top: 3vh;
  left: 5vw;
  width: 80vw;
  .restltTitle {
    font-size: 6vw;
    font-weight: 600;
  }
  .resultIcon {
    position: absolute;
    top: 2vh;
    right: -5vw;
    width: 15vw;
    height: 15vw;
    background-color: #fff2e1;
    background-position: -1vw -1vw;
    border-radius: 50%;
    padding: 2vw;
  }
  .msg1 {
    position: absolute;
    top: 5vh;
  }
  .msg2 {
    position: absolute;
    width: 60vw;
    top: 8vh;
  }
  .firstBtn {
    position: absolute;
    width: 30vw;
    height: 10vw;
    top: 14vh;
    left: 15vw;
    height: 5vh;
    line-height: 5vh;
    border-radius: 30px;
    background-color: #0f99fe;
    color: #fff;
    top: 15vh;
    left: 7vw;
  }
  .sceondBtn {
    position: absolute;
    width: 35vw;
    height: 5vh;
    line-height: 5vh;
    border-radius: 30px;
    background-color: #19ae5d;
    color: #fff;
    top: 15vh;
    left: 47vw;
  }
}
.nores {
  position: absolute;
  left: 40vw;
  top: 6vh;
  font-size: 6vw;
}
.nores + button {
  top: 15vh;
  width: 40vw;
  border-radius: 30px;
  background-color: #19ae5d;
  color: #fff;
}
